1. A description of the problem and a discussion of the background

The problem: You have been tasked to find the best cities within Los Angeles California for a group of business men who want to start their business service.

Hence Los Angeles location data will be used to cluster the data where business services are the most prevelant and thriving

2. A description of the data and how it will be used to solve the problem

2 kinds of data will be used, the first is location data consisting of the names of the city of Los Angeles and their zipcodes and the other a list of zipcodes and their respective latitude and longitude.

In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [4]:
la=pd.read_csv('./losangeles.csv')

In [5]:
la

   LOS ANGELES CITIES  ZIP CODES
0               Acton      90001
1        Agoura Hills      90002
2            Alhambra      90003
3        Alondra Park      90004
4            Altadena      90005
..                ...        ...
82             Walnut      90083
83        West Covina      90084
84     West Hollywood      90086
85   Westlake Village      90087
86           Whittier      90088

[87 rows x 2 columns]

In [6]:
print(type(la))
geodf = pd.read_csv('./Geospatial_Coordinates.csv')
geodf.columns = ['GeoPostCode','Latitude', 'Longitude']

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(geodf.head())
print(geodf.tail())

   GeoPostCode  Latitude  Longitude
0      90001.0   34.4700  -118.1967
1      90002.0   34.1533  -118.7617
2      90003.0   33.7866  -118.2987
3      90004.0   33.8895  -118.3309
4      90005.0   34.1902  -118.1313
     GeoPostCode  Latitude  Longitude
993          NaN       NaN        NaN
994          NaN       NaN        NaN
995          NaN       NaN        NaN
996          NaN       NaN        NaN
997          NaN       NaN        NaN

In [8]:
geodf = geodf.dropna(axis=0)

In [9]:
geodf

    GeoPostCode  Latitude  Longitude
0       90001.0   34.4700  -118.1967
1       90002.0   34.1533  -118.7617
2       90003.0   33.7866  -118.2987
3       90004.0   33.8895  -118.3309
4       90005.0   34.1902  -118.1313
..          ...       ...        ...
82      90083.0   34.0203  -117.8653
83      90084.0   34.0686  -117.9390
84      90086.0   34.0900  -118.3617
85      90087.0   34.1466  -118.8074
86      90088.0   33.9792  -118.0328

[87 rows x 3 columns]

In [10]:
Concatdf = pd.concat([la,geodf], axis=1)
finalgeodf=Concatdf.drop(['GeoPostCode'] , axis=1)
finalgeodf.head()

  LOS ANGELES CITIES  ZIP CODES  Latitude  Longitude
0              Acton      90001   34.4700  -118.1967
1       Agoura Hills      90002   34.1533  -118.7617
2           Alhambra      90003   33.7866  -118.2987
3       Alondra Park      90004   33.8895  -118.3309
4           Altadena      90005   34.1902  -118.1313